@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Chinook!</h1>
    <p>We supply music to our customers.</p>
    <p>We have a large varied range of albums to choose from</p>
    <p>Click on the albums like above to view all out albums, album artists and track listing</p>
</div>
